/* Background */

body {
    background: black;
}

#background_image {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    opacity: 0;
}

/* Switcher */

#background_switcher {
    position: absolute;
    right: 30px;
    bottom: 30px;
}

#background_switcher_table {
    width: 100%;
}

.background_switcher_buttons {
    background: rgb(200,200,200);
    opacity: 0.5;
    font-family: Consolas;
    height: 65px;
    width: 15%;
    text-align: center;
}

#background_undo_button {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

#background_redo_button {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

#name_project_button {
    width: 60%;
}

/* Loader */

#loader_background_image {
    position: absolute;
}

/* Menu */

#menu {
    position: absolute;
    top: 0px;
    width: 300px;
    height: 100px;
    background: rgba(0,0,0,0.7);
    padding-left: 20px;
    padding-top: 20px;
    font-size: 100%;
    overflow: visible;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
}

#menu_elements {
    position: inherit;
    top: 80px;
    color: white;
    font-family: Consolas;
}

#logo_menu_open {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 20px;
    padding-top: 20px;
}

/* Project shower */

#project_shower {
    color: black;
    font-family: Consolas;
    position: absolute;
    top: 0;
    background: rgba(0,0,0,0.4);
}

#project_shower_header {
    color: black;
    position: inherit;
    top: 0;
    height: 30px;
    background-color: rgba(0,0,0,0.2);
}

#project_shower_header_close {
    position: inherit;
    right: 2px;
}

#project_shower_header_title {
    position: inherit;
    left: 10px;
    top: 5px;
    color: white;
}